@import url("https://fonts.googleapis.com/css2?family=Anybody&display=swap");

body {
  font-family: sans-serif;
}

h1 {
  background-color: aliceblue;
  font-family: "Anybody", sans-serif;
  font-size: 220px;
  writing-mode: vertical-lr;
}
